extends layout

block content
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  h1= title

  - let cerealid = toShow._id
  - let cerealBrandName = toShow.cerealBrandName
  - let cerealFlavor = toShow.cerealFlavor
  - let price = toShow.price

  div.container
    .card.mb-4
      .card-body
        div.row.mb-2
          div.col.cerealAttr.mr-3.text-primary Cereal ID is:
            div.text-success #{cerealid}
        div.row.mb-2
          div.col.cerealAttr.mr-3.text-primary Cereal BrandName is:
            div.text-warning #{cerealBrandName}
        div.row.mb-2
          div.col.cerealAttr.mr-3.text-primary Cereal Flavour is:
            div.text-danger #{cerealFlavor}
        div.row.mb-2
          div.col.cerealAttr.mr-3.text-primary Cereal Price:
            div.text-success #{price}
